/* 1 - косметический стиль */

.goos_margin .goos__shaft
{
    margin-right: -14px;

    clip-path: inset(0 14px 0 0); /*1*/
}

.goos_margin .goos__item
{
    border-right: 14px solid transparent;
}

.goos_margin.goos_size_2 .goos__shaft
{
    margin-right: -7px; /* calc(-14px / 2) */

    clip-path: inset(0 calc(14px / 2) 0 0); /*1*/
    scroll-snap-points-x: repeat(50%);
}

.goos_margin.goos_size_3 .goos__shaft
{
    margin-right: -4.6px;
    margin-right: calc(-14px / 3);

    clip-path: inset(0 calc(14px / 3) 0 0); /*1*/
}

.goos_margin.goos_size_4 .goos__shaft
{
    margin-right: -3.5px;
    margin-right: calc(-14px / 4);

    clip-path: inset(0 calc(14px / 4) 0 0); /*1*/
}

.goos_margin.goos_size_5 .goos__shaft
{
    margin-right: -3px;
    margin-right: calc(-14px / 5);

    clip-path: inset(0 calc(14px / 5) 0 0); /*1*/
}

.goos_margin.goos_size_6 .goos__shaft
{
    margin-right: -2px;
    margin-right: calc(-14px / 6);

    clip-path: inset(0 calc(14px / 6) 0 0); /*1*/
}
