.goos__arrow
{
    position: absolute;
    z-index: 2;
    top: 50%;

    box-sizing: border-box;
    width: 50px;
    height: 50px;
    padding: 0;

    cursor: pointer;
    transform: translateY(-50%);

    color: currentColor;
    border: 0;
    border-radius: 50%;
    background: transparent;

    touch-action: manipulation;
    pointer-events: auto;
}

.goos__arrow::after
{
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    content: '';
    transition: all .1s;

    opacity: .45;
    border: 1px solid currentColor;
    border-radius: 50%;
}

.goos__arrow:hover::after
{
    opacity: .6;
}

.goos__arrow:focus
{
    outline: none;
    box-shadow: 0 0 6px 4px #ffdb4d;
}

.goos__arrow:focus::after
{
    border-color: transparent;
}

.goos__arrow i
{
    display: block;

    width: 0;
    height: 0;
    margin: auto;
    padding: 10%;

    opacity: .5;
    border: solid currentColor;
}

.goos__arrow i::before
{
    position: absolute;

    width: 160%;
    height: 2px;

    content: '';

    background: currentColor;
}

@media (max-width: 1100px)
{
    .goos__arrow
    {
        width: 32px;
        height: 32px;
    }
}
