body
{
    padding: 2%;
}

.goos
{
    margin: 0 auto 2%;
    max-width: 900px;
}

.goos__item
{
    height: 200px;
    color: #fff;

    font-size: 30px;
    background: #dedede;

    display: flex;
    justify-content: center;
    align-items: center;
}

.goos__item:nth-child(odd)
{
    background: deepskyblue;
}


.example1 .goos__item
{
    height: 400px;
}

.example3 .goos__item:nth-child(odd)
{
    background: purple;
}
