.goos__dots
{
    display: flex;

    box-sizing: border-box;
    width: 100%;
    min-height: 40px;
    margin: 0;
    padding: 0 14px;

    list-style: none;

    text-align: center;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
