.goos__dot
{
    font-size: 0;

    position: relative;

    display: inline-block;

    width: 6px;
    height: 6px;
    margin: 6px;

    color: rgba(0, 0, 0, .1);
    border-radius: 10px;
    background: currentColor;
}

.goos__dot::before
{
    position: relative;
    top: -5px;
    left: -5px;

    display: inline-block;

    width: 16px;
    height: 16px;

    content: '';
    cursor: pointer;
}

.goos__dot:hover
{
    color: rgba(0, 0, 0, .2);
}
