/* layout */
@import '__shaft/goos__shaft.css';
@import '__item/goos__item.css';

/* size */
@import '_size/goos_size_2.css';
@import '_size/goos_size_3.css';
@import '_size/goos_size_4.css';
@import '_size/goos_size_5.css';
@import '_size/goos_size_6.css';
@import '_size/goos_size_7.css';

/* отступы */
@import '_margin/goos_margin.css';

/* точки */
@import '__dots/goos__dots.css';
@import '__dot/goos__dot.css';
@import '__dot/_active/goos__dot_active.css';

/* адаптивность */
@import '_responsive/goos_responsive.css';

/* фуллскрин */
@import '_fullscreen/goos_fullscreen.css';

/* появились элементы управления */
@import '_nav/goos_nav_dots.css';

.goos
{
    position: relative;
}

/* js читает значение этого псевдоэлемента */
.goos::before
{
    position: absolute;

    visibility: hidden;

    width: 0;
    height: 0;
}

