.goos__arrow_prev
{
    left: -60px;

    margin-left: -20px;
}

.goos__arrow_prev i
{
    border-width: 2px 0 0 2px;
    transform: rotate(-45deg);
}

.goos__arrow_prev i::before
{
    left: 0;
    top: -1px;

    transform-origin: 0;
    transform: rotate(45deg);
}

@media (max-width: 1100px) {
    .goos__arrow_prev
    {
        left: 0;
    }
}

@media (max-width: 800px) {
    .goos__arrow_prev
    {
        left: 30px;
    }
}
