.goos__arrow_prev
{
    left: -60px;

    margin-left: -20px;
}

.goos__arrow_prev i
{
    transform: rotate(-45deg);

    border-width: 2px 0 0 2px;
}

.goos__arrow_prev i::before
{
    top: -1px;
    left: 0;

    transform: rotate(45deg);
    transform-origin: 0;
}

@media (max-width: 1100px)
{
    .goos__arrow_prev
    {
        left: 0;
    }
}

@media (max-width: 800px)
{
    .goos__arrow_prev
    {
        left: 30px;
    }
}
