body
{
    padding: 2%;
}

.goos
{
    width: 100%;
    margin: 60px auto 100px;
}

.goos__item .snippet
{
    font-size: 30px;

    display: flex;

    width: 100%;
    height: 100%;
    min-height: 300px;

    color: #fff;
    background: deepskyblue;

    justify-content: center;
    align-items: center;
}

.goos__item:nth-child(odd) .snippet
{
    background: #dedede;
}

@media (min-width: 1100px)
{
    .goos
    {
        width: 80%;
    }
}
