.goos_fullscreen
{
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    width: 100% !important;
    margin: 0 !important;

    pointer-events: none;

    touch-action: none;
}

/* size option to goos */
.goos_fullscreen::before
{
    content: '1';
}

/* close button */
.goos_fullscreen::after
{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;

    width: 50px;
    height: 50px;

    content: '\00d7';
    cursor: pointer;
    pointer-events: auto;

    display: block;

    text-align: center;

    font: normal 100 50px/40px "Helvetica Neue";

    color: #fff;
    opacity: .5;
}

.goos_fullscreen .goos__shaft
{
    overflow-y: hidden;

    height: 100%;
    /* в этом режиме отрицательный margin не работает */
    padding-right: 0 !important;
    padding-left: 0 !important;

    pointer-events: auto;

    /* решает проблему с рендером масштабированных изображений во время прокрутки на андройде */
    clip-path: inset(0 0 0 0) !important;

    transition: all .4s;
}

.goos_fullscreen.goos_margin .goos__shaft
{
    margin-right: -14px;
}

.goos_fullscreen .goos__shaft::after
{
    min-width: 0 !important;
}

.goos_fullscreen .goos__item
{
    height: 100%;
}

.goos_fullscreen .goos__dots
{
    position: absolute;
    bottom: 0;

    padding-bottom: 18px;

    animation: goosFullscreenDotsShowedUp .4s;

    opacity: 1;
    z-index: 4;

    pointer-events: auto;
}

.goos_fullscreen .goos__dot
{
    color: rgba(255,255,255,.5);
}

.goos_fullscreen .goos__arrow
{
    color: #fff;
}

/* скорректируем положение кнопок */
.goos_fullscreen .goos__arrow_prev
{
    transform: translate(200%, -50%);
}

.goos_fullscreen .goos__arrow_next
{
    transform: translate(-200%, -50%);
}

@keyframes goosFullscreenDotsShowedUp
{
    from
    {
        transform: translateY(10px);

        opacity: 0;
    }
    to
    {
        transform: translateY(0);

        opacity: 1;
    }
}
