/*
    Мобильный сафари не умеет вот такие конструкции
    .goos_fullscreen,
    .goos:fullscreen

    Хотелось одни и те же стили использовать для фолбэка и нативной реализации
    Из-за него будем дублировать



/**
 * Нативный фуллскрин
 */
.goos:fullscreen
{
    display: flex;

    margin: 0 !important;

    background: 0 0;

    flex-wrap: wrap;
    align-content: center;

    width: 100% !important;
    height: 100% !important;
}

/* в фуллскрине показываем только 1 слайд */
.goos:fullscreen:before
{
    content: '1';
}

.goos:fullscreen .goos__shaft
{
    min-height: 100%;
    /* в этом режиме отрицательный margin не работает */
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.goos:fullscreen .goos__item
{
    display: flex;

    border-right: 0;

    align-items: center;
    align-content: center;
    justify-content: center;
}

.goos:fullscreen .goos__dots
{
    position: absolute;
    bottom: 14px;
}

/* фон темный, сделаем контрастными элементы управления */
.goos:fullscreen .goos__dot
{
    color: rgba(255,255,255,.5);
}

.goos:fullscreen .goos__arrow
{
    margin: 0 !important;

    color: #fff;
}

/* скорректируем положение кнопок */
.goos:fullscreen .goos__arrow_prev
{
    left: 2%;
}

.goos:fullscreen .goos__arrow_next
{
    right: 2%;
}

/**
 * Фолбэк
 */
.goos_fullscreen
{
    position: fixed !important;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    background: rgba(0, 0, 0, 0.5);
}

.goos_fullscreen .goos__shaft
{
    height: 100%;
    /* в этом режиме отрицательный margin не работает */
    margin-right: 0 !important;
    padding-right: 0 !important;

    overflow-y: hidden;
}

.goos_fullscreen::before
{
    content: '1';
}

.goos_fullscreen .goos__item
{
    display: flex;
    flex-direction: column;

    border-right: 0;

    align-items: center;
    align-content: center;
    justify-content: center;

    transition-timing-function: step-start;
}

.goos_fullscreen .goos__item > *
{
    flex-grow: 1;
}

.goos_fullscreen .goos__dots
{
    position: absolute;
    bottom: 14px;
}

.goos_fullscreen .goos__dot
{
    color: rgba(255,255,255,.5);
}

.goos_fullscreen .goos__arrow
{
    margin: 0 !important;

    color: #fff;
}

/* скорректируем положение кнопок */
.goos_fullscreen .goos__arrow_prev
{
    left: 2%;
}

.goos_fullscreen .goos__arrow_next
{
    right: 2%;
}

/* styles for body node */
html.fullscreen-mode-fallback,
html.fullscreen-mode-fallback body
{
    overflow: hidden;
}
