.goos__shaft
{
    position: relative;

    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

    box-sizing: border-box;

    min-width: 100%; /* us web */
    min-width: calc(100% + 0px); /* safari */

    margin: 0;
    padding: 0;

    list-style: none;

    transform: translateZ(0);

    flex-wrap: nowrap;
    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(100%);
    scroll-behavior: smooth;

    -webkit-overflow-scrolling: touch;
            overflow-scrolling: touch;

    touch-action: manipulation;
}

